* {
    padding: 0;
    margin: 0;
    font-family: 'Texturina', serif;
}
body{
    color: #5ea4bc;
    background-color: #142c41;
}
h1{
    text-align: center;
    color: #f2bf5f;
}
#countVisitors{
    /* position: absolute;
    right: 12px;
    top: 12px; */
    text-align: center;
}
#name-entrybox{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
#textName{
    /* height: 16px; */
    font-size: 20px;
    width: 185px;
    text-align: center;
    padding: 2.8px;
    margin: 10px;
}
#convertButton{
    height: 40px;
    width: 100px;
    font-size: 20px;
    margin: 10px 0px;
    /* font-weight: bold;
    border: 2px solid #0a6593; */
    /* color: #0a6593; */
    /* border-radius: 5px;
    background-color: white; */
}

#result-container{
    width: 90%;
    margin: 0 auto;
    /* height: 140vh; */
    border: 1px solid black;
    position: relative;
    text-align: center;
    background-color: #edeeee;
}
#intro-container{
    width: 50%;
    /* text-align: center; */
    margin: 0 auto;
    border: 3px solid;
    padding: 10px;
    color: #f2bf5f;
    background-color: #142c41;
    /* position: absolute;
    left: 0;
    right: 0;
    top: 25%; */
}
.wordInput{
    text-align: center;
    margin: 10px 10px 5px;
    padding: 10px;
    font-size: 18px;
    color: black;
}
#videoArea{
    /* width: 50%; */
    /* height: 333.33px; */
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.2); */
}
.spellingName{
    position: relative;
    /* border: 2px solid green; */
    /* display: inline; */
}
.alphabetPic{
    width: 42%;
    display: none;
    /* position: absolute; */
    top: 1em;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.alphabetPic img:first{
    display: block;
}
.emptyImg{
    color: white;
    width: 48%;
    height: 366px;
    background-color: white;
    position: absolute;
    top: .9em;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: none;
}
#readyButton{
    /* position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto; */
    margin: 0px 10px 10px;
    /* height: 40px;
    width: 100px; */
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #0a6593;
}
#slideButtons{

}
.directionButton{
    margin: 10px;
    padding: 5px;
    width: 110px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #0a6593;
}
.alphabetBlocks .blockBox:first-child{
    /* box-shadow: 0px 0px 10px 6px rgba(240,115,85,1); */
    /* background: rgba(240,115,85,1); */
    border: 3px solid rgba(240,115,85,1);
    /* position: absolute;
    bottom: 65px;
    right: 0;
    left: 0; */
    /* margin-top: 400px; */
}
.blockBox{
    width: 100px;
    margin: 2px 5px;
    border: 2px solid black;
}
footer{
    text-align: center;
    margin: 20px 0;
}
 @media only screen and (min-width: 300px){
    #intro-container{
        font-size: 14px;
        width: 75%;
        position: unset;
    }
     #videoArea{
         width: 90%;
     }
     .alphabetPic{
         width: 90%;
     }
     .emptyImg{
         width: 92%;
         height: unset;
     }
     .alphabetBlocks{
         /* margin-top: 250px; */
     }
     .blockBox{
         width: 15%;
     }
 }
 @media only screen and (min-width: 425px){     
    .alphabetPic{
        width: 80%;
    }
    .emptyImg{
        width: 82%;
    }
    .alphabetBlocks{
        /* margin-top: 59%; */
    }
    .blockBox{
        width: 10%;
    }
 }
 @media only screen and (min-width: 768px){
     #result-container{
        height: 447px;
     }
     .alphabetPic{
        width: 80%;
     }
     .emptyImg{
        width: 82%;
     }
     .alphabetBlocks{
        /* margin-top: 57%; */
     }
     .blockBox{
         width: 10%;
     }
     #intro-container{
        position: absolute;
        left: 0;
        right: 0;
        top: 25%;
     }
 }
 @media only screen and (min-width: 1025px){
     #videoArea{
         width: 795px;
     }
    .alphabetPic{
        width: 70%;
        max-width: 740px;
     }
     .emptyImg{
        width: 72%;
    max-width: 744px;
     }
     .alphabetBlocks{
        /* margin-top: 50%; */
     }
     .blockBox{
         width: 8%;
     }
 }